{% load static %}
<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="../assets/"
  data-template="vertical-menu-template-free">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
  <title>Dashboard - API | Aladdin</title>

  <meta name="description" content="" />

  <!-- Favicon -->
  {% include 'common/common_css.html' %}
  {% block common_css %}
  {% endblock %}
</head>

<body>
  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <!-- Menu -->

      {% include 'dashboard/sidebar.html' %}
      {% block sidebar %}
      {% endblock %}
      <!-- / Menu -->

      <!-- Layout container -->
      <div class="layout-page">
        {% include 'dashboard/topnavbar.html' %}
        {% block topnavbar %}
        {% endblock%}

        <!-- Content wrapper -->
        <div class="content-wrapper">
          <!-- Content -->

          <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Account Settings</span></h4>

            <div class="row">
              <div class="col-md-12">
                <ul class="nav nav-pills flex-column flex-md-row mb-3">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard:profile' request.user.id %}"><i
                        class="bx bx-user me-1"></i> Account</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="{% url 'dashboard:profile' request.user.id %}"><i
                        class="bx bx-link-alt me-1"></i> API</a>
                  </li>
                </ul>
                <div class="card mb-4">
                  <h5 class="card-header">API Details</h5>
                  <!-- Account -->
                  <hr class="my-0">
                  <div class="card-body">
                    <form id="client-api-form" method="POST"
                      action="{% url 'dashboard:profile-update' request.user.id %}">
                      {% csrf_token %}
                      <div class="row">
                        <div class="mb-3 col-md-6">
                          <label for="firstName" class="form-label">USER ID</label>
                          <input class="form-control" type="text" id="firstName" name="client_user_id"
                            value="{% if api_details.is_have %}{{api_details.details.client_user_id}}{% endif %}"
                            autofocus="" placeholder="User ID" {% if api_details.is_have %} disabled {% endif %}>
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="firstName" class="form-label">Password</label>
                          <input class="form-control" type="text" id="firstName" name="client_password"
                            value="{% if api_details.is_have %}{{api_details.details.client_password}}{% endif %}"
                            autofocus="" placeholder="User ID" {% if api_details.is_have %} disabled {% endif %}>
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="firstName" class="form-label">API KEY</label>
                          <input class="form-control" type="text" id="firstName" name="client_id"
                            value="{% if api_details.is_have %}{{api_details.details.client_id}}{% endif %}"
                            autofocus="" placeholder="API Key" {% if api_details.is_have %} disabled {% endif %}>
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="lastName" class="form-label">API Secrect</label>
                          <input class="form-control" type="text" name="client_secret" id="last_name"
                            value="{% if api_details.is_have %}{{api_details.details.client_secret}}{% endif %}"
                            placeholder="API Secret" {% if api_details.is_have %} disabled {% endif %}>
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="email" class="form-label">TOTP KEY</label>
                          <input class="form-control" type="text" id="email" name="totp"
                            value="{% if api_details.is_have %}{{api_details.details.totp}}{% endif %}"
                            placeholder="2 Factor Authentication Key" {% if api_details.is_have %} disabled {% endif %}>
                        </div>

                        <div class="mb-3 col-md-6">
                          <label for="defaultSelect" class="form-label">Choose Broker</label>
                          <select id="defaultSelect" class="form-select" name="broker" {% if api_details.is_have %} disabled {% endif %}>
                            <option>Default select</option>
                            {% for broker in brokers_list %}
                              <option value="{{broker.id}}" {% if api_details.is_have %} {% if broker.id == api_details.details.broker_id %} selected {% endif %} {% endif %}>{{broker.name}}</option>
                            {% endfor %}
                          </select>
                        </div>
                        
                        
                        <div class="mb-3 col-md-6">
                          <label for="defaultSelect" class="form-label">TOTP</label>
                          <input class="form-control" type="text" id="email" name="otp" placeholder="TOTP">
                        </div>

                      </div>

                      <div class="mb-3 col-md-6">
                        {% if not api_details.is_have %}
                        <div class="alert alert-danger" role="alert">API Details are not found! Please enter it!</div>
                        {% endif %}

                        {% if api_details.is_have %}
                          {% if not api_details.details.connected %}
                          <div class="alert alert-danger" role="alert">API is not connected! Click button below to connect</div>
                          {% elif api_details.details.connected %}
                          <div class="alert alert-success" role="alert">API is connected successfully! </div>
                          {% endif %}

                        {% endif %}

                        
                      </div>

                      <div class="mt-2">
                        <button type="submit" class="btn btn-primary me-2 {% if api_details.is_have %} updateable {% endif %}">Save changes</button>
                        <button id="edit-api-form" type="button" class="btn btn-secondary me-2">Edit Form</button>
                        <button type="button" class="connect_api btn me-2 {% if api_details.details.connected %} btn-outline-success {% else %} btn-outline-primary {% endif%}" {% if api_details.details.connected %} disabled {% endif%}> {% if api_details.details.connected %} Connected {% else %} Connect {% endif %}</button>
                        {% if api_details.details.connected %}<button type="button" class="connect_api btn btn-outline-primary me-2">Re-Connect</button> {% endif %}
                        <!-- <button type="reset" class="btn btn-outline-secondary">Clear</button> -->
                      </div>
                    </form>
                  </div>
                  <!-- /Account -->
                </div>

              </div>
            </div>
          </div>
          <!-- / Content -->

          {% include 'dashboard/footer.html' %}
          {% block footer %}
          {% endblock %}

          <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
      </div>
      <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
  </div>
  <!-- / Layout wrapper -->


  <!-- Core JS -->
  {% include 'common/common_js.html' %}
  {% block common_js %}
  {% endblock%}
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script>
    // Assuming you have included jQuery library

    function getChangedFields(initialData) {
      var changedData = {};
      $('#client-api-form').find('input, select, textarea').each(function() {
        var name = this.name;
        var currentValue = $(this).val();
        if (initialData[name] !== currentValue) {
          changedData[name] = currentValue;
        }
      });
      return changedData;
    }

    var initialFormData = {};
    $(document).ready(function () {
      // Assuming you have a form with id "client-form" and input fields for client details
      $("#edit-api-form").on("click", function(){
        $('#client-api-form').find('input, select, textarea').each(function() {
          $(this).removeAttr('disabled')
        });
      })

      $('#client-api-form').find('input, select, textarea').each(function() {
        initialFormData[this.name] = $(this).val();
      });
      
      $('#client-api-form').submit(function (event) {
        // Prevent the default form submission
        event.preventDefault();

        var changedFields = getChangedFields(initialFormData);
        if ($.isEmptyObject(changedFields)) {
            alert("No changes detected.");
            return;
        }

        // Serialize the form data
        var formData = $(this).serialize();
        console.log(this, event, formData)
        if($(event.originalEvent.submitter).hasClass('updateable')){
          
          // Send PUT request to update the client
          $.ajax({
            type: 'PATCH',
            url: '/accounts/api/v1/update-client/{{api_details.details.id}}/',
            data: changedFields,
            headers: {
            'X-CSRFToken': getCookie('csrftoken')
            },
            success: function(response) {
              console.log('Client updated successfully:', response);
              window.location.reload();
            },
            error: function(xhr, status, error) {
              console.error('Failed to update client:', error);
            }
          });

        }
        else{
          // AJAX request to create a new client
          $.ajax({
            url: '/accounts/api/v1/add-client/',  // URL for creating clients
            type: 'POST',
            data: formData,
            headers: {
            'X-CSRFToken': getCookie('csrftoken')
            },
            success: function (response) {
              // Client created successfully, handle the response
              console.log('Client created:', response);
              window.location.reload();
              // You can perform further actions like showing a success message or redirecting the user
            },
            error: function (xhr, status, error) {
              // Error occurred while creating client, handle the error
              console.error('Error creating client:', error);
              // You can display an error message to the user or handle the error in any other way
            }
          });

        }

      });
    });

    // Authenticate API form
    $(document).ready(function () {
      $('.connect_api').on('click', function (event) {
        event.preventDefault(); // Prevent form submission

        // Send POST request to the authentication API
        var totp = $("input[name='otp']").val()
        console.log(totp)
        $.ajax({
          type: 'POST',
          url: '/accounts/api/v1/authenticate-api/'+"{{api_details.details.id}}"+"/",
          headers: {
            'X-CSRFToken': getCookie('csrftoken')
          },
          data:{
            "totp": totp
          },
          dataType: 'json',
          success: function (response) {
            // Authentication successful
            console.log('Authentication successful:', response);
            if(response.connected){
              window.location.reload();
            }
            // Redirect to a new page or perform other actions
          },
          error: function (xhr, status, error) {
            // Authentication failed
            console.error('Authentication failed:', error);
            // Display an error message or take other actions
          }
        });
        

      });
    });

  </script>
</body>

</html>