{% load static %}

{% block l_common_js %}
<!-- JavaScript Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'landingpage/lib/wow/wow.min.js' %}"></script>
<script src="{% static 'landingpage/lib/easing/easing.min.js' %}"></script>
<script src="{% static 'landingpage/lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'landingpage/lib/owlcarousel/owl.carousel.min.js' %}"></script>

<!-- Template Javascript -->
<script src="{% static 'landingpage/js/main.js' %}"></script>
<script>
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    function setCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }

        var existingCookie = getCookie(name);
        if (existingCookie !== null) {
            document.cookie = name + "=" + value + expires + "; path=/";
        } else {
            document.cookie = name + "=" + value + expires + "; path=/";
        }
    }

</script>
{% endblock %}