{% load static %}

{% block l_footer %}
<!-- Footer Start -->
<div class="container-fluid footer bg-dark wow fadeIn" data-wow-delay=".3s">
    <div class="container pt-5 pb-4">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <a href="index.html">
                    <h1 class="text-white fw-bold d-block">Neural <span class="text-secondary">Wave</span> </h1>
                </a>
                <p class="mt-4 text-light">Empowering Investors with Advanced Algorithmic Trading Solutions. Join us
                    in navigating the financial markets with confidence and precision.</p>
                <div class="d-flex hightech-link">
                    <a href="" class="btn-light nav-fill btn btn-square rounded-circle me-2"><i
                            class="fab fa-facebook-f text-primary"></i></a>
                    <a href="" class="btn-light nav-fill btn btn-square rounded-circle me-2"><i
                            class="fab fa-twitter text-primary"></i></a>
                    <a href="" class="btn-light nav-fill btn btn-square rounded-circle me-2"><i
                            class="fab fa-instagram text-primary"></i></a>
                    <a href="" class="btn-light nav-fill btn btn-square rounded-circle me-0"><i
                            class="fab fa-linkedin-in text-primary"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="#" class="h3 text-secondary">Short Link</a>
                <div class="mt-4 d-flex flex-column short-link">
                    <a href="{% url 'landingpage:landing_page_about' %}" class="mb-2 text-white"><i
                            class="fas fa-angle-right text-secondary me-2"></i>About us</a>
                    <a href="{% url 'landingpage:landing_page_contact' %}" class="mb-2 text-white"><i
                            class="fas fa-angle-right text-secondary me-2"></i>Contact us</a>
                    <a href="{% url 'landingpage:landing_page_services' %}" class="mb-2 text-white"><i
                            class="fas fa-angle-right text-secondary me-2"></i>Our Services</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="#" class="h3 text-secondary">Help Link</a>
                <div class="mt-4 d-flex flex-column help-link">
                    <!-- <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Terms Of use</a> -->
                    <a href="./privacy_policy.html" class="mb-2 text-white"><i
                            class="fas fa-angle-right text-secondary me-2"></i>Privacy Policy</a>
                    <a href="./contact.html" class="mb-2 text-white"><i
                            class="fas fa-angle-right text-secondary me-2"></i>Contact</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="#" class="h3 text-secondary">Contact Us</a>
                <div class="text-white mt-4 d-flex flex-column contact-link">
                    <a href="#" class="pb-3 text-light border-bottom border-primary"><i
                            class="fas fa-map-marker-alt text-secondary me-2"></i> New Delhi, India</a>
                    <a href="#" class="py-3 text-light border-bottom border-primary"><i
                            class="fas fa-phone-alt text-secondary me-2"></i> +91 8745033653</a>
                    <a href="#" class="py-3 text-light border-bottom border-primary"><i
                            class="fas fa-envelope text-secondary me-2"></i> neuralwavesignal@gmail.com</a>
                </div>
            </div>
        </div>
        <hr class="text-light mt-5 mb-4">
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                <span class="text-light"><a href="#" class="text-secondary"><i
                            class="fas fa-copyright text-secondary me-2"></i>Neural Wave</a>, All right
                    reserved.</span>
            </div>
            
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-secondary btn-square rounded-circle back-to-top"><i
    class="fa fa-arrow-up text-white"></i></a>

{% endblock %}