{% load static %}

{% block l_topbar %}
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
        async>
            {
                "symbols": [
                    {
                        "proName": "FOREXCOM:SPXUSD",
                        "title": "S&P 500 Index"
                    },
                    {
                        "proName": "FX_IDC:EURUSD",
                        "title": "EUR to USD"
                    },
                    {
                        "description": "NIFTY50",
                        "proName": "NSE:NIFTY"
                    },
                    {
                        "description": "BANKNIFTY",
                        "proName": "NSE:BANKNIFTY"
                    },
                    {
                        "description": "SENSEX",
                        "proName": "BSE:SENSEX"
                    },
                    {
                        "description": "CRUDEMCX",
                        "proName": "MCX:CRUDEOIL1!"
                    }
                ],
                    "showSymbolLogo": true,
                        "isTransparent": false,
                            "displayMode": "adaptive",
                                "colorTheme": "dark",
                                    "locale": "en"
            }
        </script>
</div>
<!-- TradingView Widget END -->

<!-- Spinner Start -->
<!-- <div id="spinner"
    class="show position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
</div> -->
<!-- Spinner End -->

<!-- Topbar Start -->
<div class="container-fluid bg-dark py-2 d-none d-md-flex">
    <div class="container">
        <div class="d-flex justify-content-between topbar">
            <div class="top-info">
                <small class="me-3 text-white-50"><a href="#"><i
                            class="fas fa-map-marker-alt me-2 text-secondary"></i></a>New Delhi, India</small>
                <small class="me-3 text-white-50"><a href="#"><i
                            class="fas fa-envelope me-2 text-secondary"></i></a>neuralwavesignal@gmail.com</small>
            </div>
            <div id="note" class="text-secondary d-none d-xl-flex"><small>Disclaimer-We are not a SEBI registered
                    Investment Advisor nor we provide any kind of tips or recommendations for investments </small>
            </div>
            <div class="top-link">
                <a target="_blank" href="https://www.facebook.com/profile.php?id=61555940997704"
                    class="bg-light nav-fill btn btn-sm-square rounded-circle"><i
                        class="fab fa-facebook-f text-primary"></i></a>
                <!-- <a href="" class="bg-light nav-fill btn btn-sm-square rounded-circle"><i class="fab fa-twitter text-primary"></i></a> -->
                <a target="_blank" href="https://www.instagram.com/neuralwavesignal/"
                    class="bg-light nav-fill btn btn-sm-square rounded-circle"><i
                        class="fab fa-instagram text-primary"></i></a>
                <!-- <a href="" class="bg-light nav-fill btn btn-sm-square rounded-circle me-0"><i class="fab fa-linkedin-in text-primary"></i></a> -->
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->

<!-- Navbar Start -->
<div class="container-fluid bg-primary">
    <div class="container">
        <nav class="navbar navbar-dark navbar-expand-lg py-0">
            <a href="index.html" class="navbar-brand">
                <h1 class="text-white fw-bold d-block">Neural <span class="text-secondary"> Wave</span> </h1>
            </a>
            <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse bg-transparent" id="navbarCollapse">
                <div class="navbar-nav ms-auto mx-xl-auto p-0">
                    <a href="{% url 'landingpage:landing_page_home' %}" class="nav-item nav-link active text-secondary">Home</a>
                    <a href="{% url 'landingpage:landing_page_about' %}" class="nav-item nav-link">About</a>
                    <a href="{% url 'landingpage:landing_page_services' %}" class="nav-item nav-link">Services</a>
                    <!-- <a href="project.html" class="nav-item nav-link">Projects</a> -->
                    <!-- <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu rounded">
                                <a href="blog.html" class="dropdown-item">Our Blog</a>
                                <a href="team.html" class="dropdown-item">Our Team</a>
                                <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                                <a href="404.html" class="dropdown-item">404 Page</a>
                            </div>
                        </div> -->
                    <a href="{% url 'landingpage:landing_page_contact' %}" class="nav-item nav-link">Contact</a>
                </div>
            </div>
            <div class="d-none d-xl-flex flex-shirink-0">
                <div id="phone-tada" class="d-flex align-items-center justify-content-center me-4">
                    <a href="" class="position-relative animated tada infinite">
                        <i class="fa fa-phone-alt text-white fa-2x"></i>
                        <div class="position-absolute" style="top: -7px; left: 20px;">
                            <span><i class="fa fa-comment-dots text-secondary"></i></span>
                        </div>
                    </a>
                </div>
                <div class="d-flex flex-column pe-4 border-end">
                    <span class="text-white-50">Have any questions?</span>
                    <span class="text-secondary">Call: + 91 8745033653</span>
                </div>
                <div class="d-flex align-items-center justify-content-center ms-4 ">
                    <a href="#"><i class="bi bi-search text-white fa-2x"></i> </a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->
{% endblock %}