{% load static %}
<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="../assets/"
  data-template="vertical-menu-template-free">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
  <title>Dashboard - Analytics | Aladdin</title>

  <meta name="description" content="" />

  <!-- Favicon -->
  {% include 'common/common_css.html' %}
  {% block common_css %}
  {% endblock %}
</head>

<body>
  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <!-- Menu -->

      {% include 'dashboard/sidebar.html' %}
      {% block sidebar %}
      {% endblock %}
      <!-- / Menu -->

      <!-- Layout container -->
      <div class="layout-page">
        {% include 'dashboard/topnavbar.html' %}
        {% block topnavbar %}
        {% endblock%}

        <!-- Content wrapper -->
        <div class="content-wrapper">
          <!-- Content -->
          <div class="container-xxl flex-grow-1 container-p-y">
            <div class="row">
              <div class="card">
                <h5 class="card-header">Order Book</h5>
                <div class="table-responsive text-nowrap">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Order Id</th>
                        <th>Symbol</th>
                        <th>Product Type</th>
                        <th>Transcation Type</th>
                        <th>Price</th>
                        <th>Time</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                      {% for trades in cv.trade_book.trades %}
                      <tr>
                        <td>{{trades.orderid}}</td>
                        <td>{{trades.tradingsymbol}}</td>
                        <td>{{trades.producttype}}</td>
                        <td>{{trades.transactiontype}}</td>
                        <td>{{trades.fillprice}}</td>
                        <td>{{trades.filltime}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>


          
          <!-- / Content -->

          {% include 'dashboard/footer.html' %}
          {% block footer %}
          {% endblock %}

          <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
      </div>
      <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
  </div>
  <!-- / Layout wrapper -->


  <!-- Core JS -->
  {% include 'common/common_js.html' %}
  {% block common_js %}
  {% endblock%}
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>